.papyrus-container {
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    background-image: url("../../objects/papyrusTexture2.png");
    background-repeat: repeat;
    padding: -20px;
    box-sizing: border-box;
    position: fixed;
    right: 50vh;
    top: 1vh;
}

.papyrus-container::-webkit-scrollbar {
    display: none;
}

.content {
    color: black;
    padding: 0px;
    border-radius: 10px;
    margin-left: 7vh;
}
summary {
    list-style-position: outside;
    margin-left: 30px;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    font-family: 'Jacquard 12';
    font-size: 22px;
  }

h3, h1 {
    font-family: 'Megrim';
    text-align: center;
    color: #21180b;
}
  
  details[open] summary {
    border-radius: 5px 5px 0 0;
}
  
  details.left {
    background: #1c140c;
    border-radius: 5px;
    color: rgb(196, 181, 150);
    padding: 2%;
    margin: auto;
    bottom: 8%;
    opacity: 0.9;
  }

  details.right {
    background: #21180b;
    border-radius: 5px;
    color: rgb(196, 181, 150);
    padding: 2%;
    text-align: right;
    margin: auto;
    bottom: 8%;
    opacity: 0.8;
  }

  details.left img {
    float: right;
  }

  details.right img {
    float: left;
  }

  tr:hover {
    background-color: #2c2b2b;
}

  table {
    background-color: black;
    opacity: 0.85;
    border-radius: 1%;
    padding: 10%;
    color:rgb(196, 181, 150);
  }

  .lineUp {
    animation: 2s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
