
.papyrus-container::-webkit-scrollbar {
    display: none;
}

.content {
    color: black;
    padding: 0px;
    border-radius: 10px;
}

h3, h1 {
    text-align: center;

}

  .lineUp {
    animation: 2s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .theory {
    background-color: black;
    color: bisque;
    opacity: 0.8;
    right: 0;
    left: 0;
    padding: 10%;
    text-align: center;
  }

